{
	"listen": {
		"rpc": ":50000",
		"http": ":50001"
	},
	"log":{
		"file":"/tmp/grpc.log",
		"verbose":false
	},
	"proxy": {
		"rpc": "127.0.0.1:50000"
	},
	"db": {
		"default": {
			"master": [
				"root:@tcp(127.0.0.1:3401)/test",
				"root:@tcp(127.0.0.1:3401)/test",
				"root:@tcp(127.0.0.1:3401)/test"
			],
			"slave": [
				"root:@tcp(127.0.0.1:3401)/test",
				"root:@tcp(127.0.0.1:3401)/test"
			]
		}
	},
	"redis": {
		"default": {
			"master": [
				"127.0.0.1:6379"
			],
			"slave": [
				"127.0.0.1:6379",
				"127.0.0.1:6400"
			]
		}
	}
}
